In [1]:
import pandas as pd
import numpy as np

In [2]:
berlin_district = {"Wedding" : "mc010",
                  "Schöneberg" : "mc018",
                  "Marienfelde" : "mc027",
                  "Grunewald" : "mc032",
                  "Neukölln" : "mc042",
                  "Buch" : "mc077",
                  "Friedrichshagen" : "mc085",
                  "Messwagen Leipziger Str." : "mw088",
                  "Hardenbergplatz" : "mc115",
                  "Schildhornstraße"  :"mc117",
                  "Mariendorfer Damm" : "mc124",
                  "Silbersteinstraße" : "mc143",
                  "Frohnau" : "mc145",
                  "Mitte" : "mc171",
                  "Frankfurter Allee" : "mc174",
                  "Karl-Marx-Straße" : "mc220",
                  "Karlshorst" : "mc282"}

berlin_period = {"Dayly" : "24h",
                "Hourly" : "1h",
                "Monthly" : "1m"}

In [39]:
# load multiple csv of website, for all districts of berlin
period  = berlin_period["Dayly"]
start = "01.01.2000"
end = "30.10.2019"

for key, value in berlin_district.items():
    csv_downloadlink = "https://luftdaten.berlin.de/station/{0}.csv?group=pollution&period={1}&timespan=custom&start%5Bdate%5D={2}&start%5Bhour%5D=00&end%5Bdate%5D={3}&end%5Bhour%5D=00".format(value, period, start, end)
    district = pd.read_csv(csv_downloadlink, sep=";", header=[1,2])
    district = district.drop([district.index[0]])
    #district = district.assign(Ortschaft = key).
    district.columns = [f'{i}{j}' for i, j in district.columns]
    district = district.rename(columns={"Feinstaub (PM10)µg/m³" : "PM10",
                                    "Kohlenmonoxidmg/m³" : "CO",
                                    "Stickoxideµg/m³": "NOx",
                                    "Stickstoffdioxidµg/m³" : "NO_2", 
                                    "Ozonµg/m³" : "O_3",
                                    "Stickstoffmonoxidµg/m³" : "NOx",
                                    "Schwefeldioxidµg/m³" : "SO_2", 
                                    "Ortschaft" : "city",
                                    "MesskomponenteEinheit" : "date"})
    district.to_csv(path_or_buf="././Berlin_Data/"+value +".csv")

In [35]:
district

,MesskomponenteEinheit,Feinstaub (PM10)µg/m³,Stickstoffmonoxidµg/m³,Stickstoffdioxidµg/m³,Stickoxideµg/m³,Ozonµg/m³,Benzolµg/m³,Toluolµg/m³
1,29.10.2009,18,9,31,45,10,1.2,3.2
2,30.10.2009,17,16,35,60,11,1.4,3.3
3,31.10.2009,28,6,30,40,17,1.4,2.3
4,01.11.2009,47,7,25,35,13,1.8,2.1
5,02.11.2009,34,17,36,62,7,2.2,3.1
...,...,...,...,...,...,...,...,...
3649,25.10.2019,19,12,33,52,19,NaN,NaN
3650,26.10.2019,13,4,18,24,38,NaN,NaN
3651,27.10.2019,10,3,18,23,46,NaN,NaN
3652,28.10.2019,10,6,28,37,33,NaN,NaN
3653,29.10.2019,12,7,32,44,25,NaN,NaN

In [38]:
#df_final = pd.concat[df for key, value in berlin_district.items():

df = pd.read_csv("././Berlin_Data/"{value}".csv".format(value), sep=",", index_col=0)

SyntaxError: invalid syntax (<ipython-input-38-5eff8332c7c5>, line 1)

In [40]:
df_1 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_2 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_3 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_4 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_4 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_5 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_6 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_7 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_8 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_9 = pd.read_csv("././Berlin_Data/"+"mc117"+".csv", sep=",", index_col=0) #bis hier mit 'Ozonµg/m³', 'Benzolµg/m³', 'Toluolµg/m³'
df_10 = pd.read_csv("././Berlin_Data/"+"mc124"+".csv", sep=",", index_col=0)
df_11 = pd.read_csv("././Berlin_Data/"+"mc143"+".csv", sep=",", index_col=0)
df_12 = pd.read_csv("././Berlin_Data/"+"mc145"+".csv", sep=",", index_col=0)
df_13 = pd.read_csv("././Berlin_Data/"+"mc171"+".csv", sep=",", index_col=0)
df_14 = pd.read_csv("././Berlin_Data/"+"mc174"+".csv", sep=",", index_col=0)
df_15 = pd.read_csv("././Berlin_Data/"+"mc220"+".csv", sep=",", index_col=0)
df_16 = pd.read_csv("././Berlin_Data/"+"mc282"+".csv", sep=",", index_col=0)

In [41]:
df_final = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13, df_14, df_15, df_16])

C:\Users\Andres\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [42]:
df_final

,Benzolµg/m³,CO,NO_2,NOx,NOx.1,O_3,PM10,SO_2,Toluolµg/m³,date
1,1.2,NaN,31.0,9.0,45.0,10.0,18.0,NaN,3.2,29.10.2009
2,1.4,NaN,35.0,16.0,60.0,11.0,17.0,NaN,3.3,30.10.2009
3,1.4,NaN,30.0,6.0,40.0,17.0,28.0,NaN,2.3,31.10.2009
4,1.8,NaN,25.0,7.0,35.0,13.0,47.0,NaN,2.1,01.11.2009
5,2.2,NaN,36.0,17.0,62.0,7.0,34.0,NaN,3.1,02.11.2009
...,...,...,...,...,...,...,...,...,...,...
3649,NaN,NaN,22.0,19.0,51.0,NaN,NaN,NaN,NaN,25.10.2019
3650,NaN,NaN,11.0,1.0,13.0,NaN,NaN,NaN,NaN,26.10.2019
3651,NaN,NaN,14.0,2.0,16.0,NaN,NaN,NaN,NaN,27.10.2019
3652,NaN,NaN,27.0,6.0,36.0,NaN,NaN,NaN,NaN,28.10.2019
3653,NaN,NaN,31.0,15.0,55.0,NaN,NaN,NaN,NaN,29.10.2019

In [43]:
df_final["date"] = pd.to_datetime(df_final["date"], infer_datetime_format=True)

In [184]:
set(df_final["Ortschaft"])

{'Frankfurter Allee',
 'Frohnau',
 'Karl-Marx-Straße',
 'Karlshorst',
 'Mariendorfer Damm',
 'Mitte',
 'Schildhornstraße',
 'Silbersteinstraße',
 'Wedding'}

In [46]:
df_final = df_final.drop(["Benzolµg/m³", "Toluolµg/m³"], axis=1)

In [47]:
df_final = df_final.groupby("date").mean().reset_index()
df_final["city"] = "berlin"
df_final["PM25"] = np.nan
poll_ber = df_final[["date","CO","NO_2","NOx", "O_3", "PM10", "PM25", "SO_2"]]

In [48]:
poll_ber

           date    CO     NO_2      NOx        O_3       PM10  PM25  SO_2
0    2009-10-29  0.50  34.2500  22.5000  10.777778  20.142857   NaN   1.5
1    2009-10-30  0.70  38.9375  32.8125  11.555556  20.857143   NaN   1.5
2    2009-10-31  0.65  34.0000  21.1250  17.000000  31.714286   NaN   4.0
3    2009-11-01  0.60  25.7500  14.0625  13.666667  49.000000   NaN   6.0
4    2009-11-02  0.85  41.9375  38.3750   7.333333  36.142857   NaN   4.0
...         ...   ...      ...      ...        ...        ...   ...   ...
3648 2019-10-25  0.40  35.2500  24.1875  18.400000  21.142857   NaN   1.0
3649 2019-10-26  0.30  20.5625   9.1250  38.100000  13.857143   NaN   1.0
3650 2019-10-27  0.25  19.3125   6.5000  45.900000  11.142857   NaN   1.0
3651 2019-10-28  0.35  32.1875  19.1250  32.600000  11.500000   NaN   2.0
3652 2019-10-29  0.30  33.9375  15.6250  25.600000  13.571429   NaN   0.0

[3653 rows x 8 columns]

In [49]:
poll_ber.to_csv(path_or_buf="././Berlin_Data/"+"poll_ber"+".csv")