In [8]:
import pandas as pd
import numpy as np

In [9]:
berlin_district = {"Wedding" : "mc010",
                  "Schöneberg" : "mc018",
                  "Marienfelde" : "mc027",
                  "Grunewald" : "mc032",
                  "Neukölln" : "mc042",
                  "Buch" : "mc077",
                  "Friedrichshagen" : "mc085",
                  "Messwagen Leipziger Str." : "mw088",
                  "Hardenbergplatz" : "mc115",
                  "Schildhornstraße"  :"mc117",
                  "Mariendorfer Damm" : "mc124",
                  "Silbersteinstraße" : "mc143",
                  "Frohnau" : "mc145",
                  "Mitte" : "mc171",
                  "Frankfurter Allee" : "mc174",
                  "Karl-Marx-Straße" : "mc220",
                  "Karlshorst" : "mc282"}

berlin_period = {"Dayly" : "24h",
                "Hourly" : "1h",
                "Monthly" : "1m"}

In [10]:
# load multiple csv of website, for all districts of berlin
period  = berlin_period["Dayly"]
start = "01.01.2000"
end = "30.10.2019"

for key, value in berlin_district.items():
    csv_downloadlink = "https://luftdaten.berlin.de/station/{0}.csv?group=pollution&period={1}&timespan=custom&start%5Bdate%5D={2}&start%5Bhour%5D=00&end%5Bdate%5D={3}&end%5Bhour%5D=00".format(value, period, start, end)
    district = pd.read_csv(csv_downloadlink, sep=";", header=[1,2], index_col=0)
    district = district.assign(Ortschaft = key).drop([district.index[0]])
    district.index = pd.to_datetime(district.index, infer_datetime_format=True)
    district.columns = [f'{i}{j}' for i, j in district.columns]
    district.to_csv(path_or_buf="././Berlin_Data/"+value +".csv")

In [23]:
df_1 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_2 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_3 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_4 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_4 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_5 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_6 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_7 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_8 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_9 = pd.read_csv("././Berlin_Data/"+"mc117"+".csv", sep=",", index_col=0) #bis hier mit 'Ozonµg/m³', 'Benzolµg/m³', 'Toluolµg/m³'
df_10 = pd.read_csv("././Berlin_Data/"+"mc124"+".csv", sep=",", index_col=0)
df_11 = pd.read_csv("././Berlin_Data/"+"mc143"+".csv", sep=",", index_col=0)
df_12 = pd.read_csv("././Berlin_Data/"+"mc145"+".csv", sep=",", index_col=0)
df_13 = pd.read_csv("././Berlin_Data/"+"mc171"+".csv", sep=",", index_col=0)
df_14 = pd.read_csv("././Berlin_Data/"+"mc174"+".csv", sep=",", index_col=0)
df_15 = pd.read_csv("././Berlin_Data/"+"mc220"+".csv", sep=",", index_col=0)
df_16 = pd.read_csv("././Berlin_Data/"+"mc282"+".csv", sep=",", index_col=0)

In [ ]:
col_names = {"Feinstaub (PM10)µg/m³" : "PM10",
             "CO", 
             "Stickoxideµg/m³": "NOx",
             "Stickstoffdioxidµg/m³" : "NO_2", 
             "Ozonµg/m³" : "O_3", 
             "PM25", 
             "SO2", 
             "city"}

In [36]:
df_1.columns

Index(['Feinstaub (PM10)µg/m³', 'Stickstoffmonoxidµg/m³',
       'Stickstoffdioxidµg/m³', 'Stickoxideµg/m³', 'Ozonµg/m³', 'Benzolµg/m³',
       'Toluolµg/m³', 'Ortschaft'],
      dtype='object')

In [57]:
df_13

,Feinstaub (PM10)µg/m³,Stickstoffmonoxidµg/m³,Stickstoffdioxidµg/m³,Stickoxideµg/m³,Ortschaft
2009-10-29,20.0,5.0,28.0,35.0,Mitte
2009-10-30,20.0,8.0,31.0,43.0,Mitte
2009-10-31,34.0,4.0,27.0,33.0,Mitte
2009-11-01,53.0,4.0,19.0,25.0,Mitte
2009-11-02,37.0,9.0,32.0,46.0,Mitte
...,...,...,...,...,...
2019-10-25,21.0,12.0,31.0,50.0,Mitte
2019-10-26,13.0,3.0,18.0,22.0,Mitte
2019-10-27,11.0,2.0,15.0,17.0,Mitte
2019-10-28,11.0,4.0,22.0,29.0,Mitte
2019-10-29,13.0,4.0,28.0,34.0,Mitte

In [48]:
df = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13, df_14, df_15, df_16]

In [51]:
from functools import reduce

In [59]:
df_final = reduce(lambda left,right: pd.merge(left,right,on=), df)

KeyError: 0

In [46]:
df = df_1.copy()
df = pd.merge(df_2, suffixes=('_x', '_y'))#, df_3, df_4)#, df_5, df_6, df_7, df_8, df_9, df_10) #, df_11, df_12, df_13, df_14, df_15, df_16)

TypeError: merge() missing 1 required positional argument: 'right'

In [44]:
df

,Feinstaub (PM10)µg/m³,Stickstoffmonoxidµg/m³,Stickstoffdioxidµg/m³,Stickoxideµg/m³,Ozonµg/m³,Benzolµg/m³,Toluolµg/m³,Ortschaft
0,18.0,9.0,31.0,45.0,10.0,1.2,3.2,Wedding
1,17.0,16.0,35.0,60.0,11.0,1.4,3.3,Wedding
2,28.0,6.0,30.0,40.0,17.0,1.4,2.3,Wedding
3,47.0,7.0,25.0,35.0,13.0,1.8,2.1,Wedding
4,34.0,17.0,36.0,62.0,7.0,2.2,3.1,Wedding
...,...,...,...,...,...,...,...,...
3812,19.0,12.0,33.0,52.0,19.0,NaN,NaN,Wedding
3813,13.0,4.0,18.0,24.0,38.0,NaN,NaN,Wedding
3814,10.0,3.0,18.0,23.0,46.0,NaN,NaN,Wedding
3815,10.0,6.0,28.0,37.0,33.0,NaN,NaN,Wedding
3816,12.0,7.0,32.0,44.0,25.0,NaN,NaN,Wedding

In [14]:
# load all raw data in one df
df = pd.DataFrame(columns=col_names)
Unite = "µg/m³"

for key, value in berlin_district.items():
    value = pd.read_csv("././Berlin_Data/"+value+".csv", sep=",", index_col=0)#, names=col_names)
    #value" = df_value #, left_index=True)#, right)#,  on="id")
    df = pd.concat(df, value)
    
    break

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [ ]:
df_value

In [ ]:
df = pd.concat([df_1, df_2, df_3])

In [3]:
df

NameError: name 'df' is not defined

In [2]:
"""
Requires Wikipedia-API 0.5.1 or greater - and Python 3
https://pypi.org/project/Wikipedia-API/
"""

import wikipedia

w = wikipediaapi.Wikipedia('en')

p = w.page('Berlin_U-Bahn')

# print exactly 2 sentences from summary
print(w.extracts(p, exsentences=2))

# print exactly 6 sentences from summary 
# note - not all extracts have that many sentences
print(w.extracts(p, exsentences=6))

ModuleNotFoundError: No module named 'wikipedia'