In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
from pandas.io.json import json_normalize

In [7]:
url="https://public.opendatasoft.com/api/records/1.0/search/?dataset=statistisches-bundesamt-12411-0010&rows=1000&facet=lander&refine.lander=Berlin"
response=requests.get(url)
response

In [13]:
r=response.json()

In [45]:
serie=pd.DataFrame(r["records"])["fields"]
serie

ber_pop = json_normalize(serie)
ber_pop["date"]=pd.to_datetime(ber_pop["date"])

In [49]:
ber_pop.sort_values(by="date",inplace=True)

In [56]:
ber_pop.reset_index(drop=True,inplace=True)

In [57]:
ber_pop

        date  lander  population
0 2008-12-31  Berlin     3431675
1 2009-12-31  Berlin     3442675
2 2010-12-31  Berlin     3460725
3 2011-12-31  Berlin     3326002
4 2012-12-31  Berlin     3375222
5 2013-12-31  Berlin     3421829
6 2014-12-31  Berlin     3469849
7 2015-12-31  Berlin     3520031
8 2016-12-31  Berlin     3574830
9 2017-12-31  Berlin     3613495